---
import { Image } from 'astro:assets';

interface GifItem {
  src: string;
  alt: string;
  width: number;
  height: number;
  class: string;
}

interface Props {
  groupGifs: GifItem[];
}

const { groupGifs } = Astro.props;
---

<div class="grid grid-cols-3 grid-rows-3 gap-4 ">

  {groupGifs.map((gif) => (
    <div class={`${gif.class}`}>
      <Image
        format="webp"
        src={gif.src}
        alt={gif.alt}
        class="rounded-lg w-full h-full"
        width={gif.width}
        height={gif.height}
        loading="lazy"
        />
    </div>
  ))}
</div>
