---
import type { Movie } from '../data/movies';

interface Props {
  movie: Movie;
  index: number;
}

const { movie, index } = Astro.props;
---

<li class={`rounded-[5px] overflow-hidden p-4 ${index % 2 === 0 ? 'bg-black' : ''}`}>
  <a href={movie.url} target="_blank" rel="noopener noreferrer" class="movie-link">
    <img
      src={movie.image}
      alt={`Portada de la película ${movie.title}`}
      width="100"
      height="148"
      class="box-border w-full rounded-inherit"
    />
  </a>
  <div class="flex flex-col">
    <h3 class="text-left w-full m-[5px]">{movie.title}</h3>
    <p class="text-[0.7em] leading-[18px] px-[5px] mt-0 mb-0">{movie.description}</p>
  </div>
</li>

<style>
  .movie-link {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    display: block;
    width: 100%;
  }

  @media (min-width: 768px) {
    .movie-link {
      float: left;
      width: 100px;
    }
  }

  .movie-link::before {
    position: absolute;
    content: "";
    display: block;
    background-image: url("/imagenes/icono_click_black.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    bottom: 2px;
    right: 2px;
  }

  .movie-link:hover::before {
    display: none;
  }

  .movie-link img:hover {
    border: solid 2px #8cb4ff;
  }
</style>
